.videoFooter {
    position: relative;
    bottom: 125px;
    color: aliceblue;
    display: flex;
}

.videoFooter_text > .one,.second{
    text-align: left;
    margin-left: 7px;
    margin-top: 5px;
    padding: 0% -10% 3% 4%;
}

.videoFooter_message{
    text-transform: uppercase;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    color: black;
    overflow: hidden;
    margin-right: -30%;
    margin-left: 5%;
    margin-top: 10%;
    
}
.videoFooter_message > .videoFooter_songlogo{
    margin-left: 0%;
    padding-top: 1%;
    background:white;
    border-radius: 50%;
    filter:invert(1) ;
    height: 30px;
    width:  30px;
}
.news-message{
    display: flex;
    flex-shrink: 0;
    height: 25px;
    align-items: center;
    animation: slide-left 6s linear infinite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: none;
}
.news-message > p {
    font-size: 13px;
    padding-top: 5%;
    color: white;
    padding-left: 40%;
   
}


@keyframes slide-left {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
