.video{
    position: relative;
    height: 500px;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-color: black;
}

.video_player{
    margin-top: 7%;
    background-color: darkgray;
    object-fit: fill;
    width: 100%;
    height: 100%;
}
